# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/
env/

# Temp files created by the OS or API
.DS_Store
*.mp4
*.mp3

# Security: Ignore proxy and cookies if your GitHub repo is Public!
# (If your repo is Private, you can remove the next two lines so Railway gets them)
# proxy.txt
# cookies.txt
